.welcome {
  position: relative;
  height: 550px;
  background-size: cover;
}

.welcome:before {
  position: absolute;
  z-index: 0;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6c63ff;
}

.welcome .banner-img {
  width: 100%;
  height: 100%;
}

.bread-wrapper {
  margin-top: -25px;
  z-index: 9999;
  position: relative;
}

.bread-wrapper .bread-inner {
  background: #f5f8fb;
  border-radius: 5px;
  padding: 15px 25px;
}
.bread-inner ul.nav li a {
  font-weight: 500;
  color: #3f3d56;
  font-size: 1.3em;
}
.bread-inner ul.nav li a.active {
  color: #3960ee;
}

.bread-inner #searchbox {
  width: 240px;
  float: right;
  height: 90%;
  margin-top: 2px;
}
.row {
  margin-right: unset;
  margin-left: unset;
}
.unpad {
  padding-right: unset;
  padding-left: unset;
}
.article.card {
  color: #3f3d56;
}
.article.card .summary {
  color: black;
}
.article.card.first .card-img-top {
  height: 395px;
}

@media (min-width: 768px) {
  .small.row .col-md-5 {
    flex: 0 0 45.766667%;
    max-width: 45.766667%;
  }
}

.article.card .card-top-body .category {
  font-weight: 600;
}
.article.card .card-top-body .date {
  color: rgba(128, 128, 128, 0.5);
}
.ctspce {
  width: 10px;
  height: 10px;
  background-color: #575a89;
  border-radius: 100%;
  display: inline-block;
  margin-left: 4%;
  margin-right: 4%;
}
.read-more {
  color: #575a89;
  font-weight: bold;
  text-decoration: underline;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}
@media (max-width: 575px) {
  .bread-inner ul.nav li a {
    font-size: 0.9em;
  }
  .container {
    max-width: 390px;
  }
  .show-lg {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .welcome {
    height: auto;
  }
}

@media (max-width: 767.98px) {
  .welcome .inner-wrapper {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .welcome .welcome-heading {
    font-size: 2.415rem;
  }
}
